 # Homework Python Programming

 <b>Group 20</b>

 Nama 1: Aulia Fauzani Mukti<br>

 Nama 2: Alfia N. Rakhmatika

## No. 1 Plat Mobil

Tentukan dari variable list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']. <br>
Berapa jumlah plat genap dan ganjil?

In [1]:
# Create Function
def check_plat(list_plat):
  genap = 0
  ganjil = 0
  # Looping for every item in list, do: split string, get integer, determine wheter odd or even number, then calculate total

  for mobil in list_plat:
    splitstring = mobil.split()
    for item in splitstring:
      if item.isdigit() == True:
        # If the split result is digit, convert to integer then check odd or even number
        noplat = int(item)
        if noplat % 2 == 0:
          genap += 1
        else:
          ganjil += 1
      else:
        pass
  
  return genap, ganjil

# Declare variable list
list_plat_mobil = ['B 1234 AB', 'B 6721 TY', 'B 1233 AY', 'B 6629 DD', 'B 1111 AM', 'B 6726 D', 'D 11223 KJ', 'AE 44677 GH', 'AE 67269 AA']

# Invoke function
total_genap, total_ganjil = check_plat(list_plat_mobil)

print('Jumlat plat nomor genap adalah', total_genap, '\nsedangkan plat nomor ganjil adalah', total_ganjil)

Jumlat plat nomor genap adalah 2
sedangkan plat nomor ganjil adalah 7

## No. 2 Deret Fibonacci

Buatlah deret fibonacci 12 angka diawali dengan angka 2 dan 3 menggunakan for atau while.

In [2]:
# Create function accepting parameter 2 first digit of fibonacci, and maximum length
def deret_fibonacci(a, b, max):
    # Declare empty list and variables
    deret = []
    ind = 0

    # Add first digit
    deret.append(a)

    # Iterate using while for adding next values
    while ind < (max-1):
        deret.append(b)
        a, b = b, a + b
        ind += 1    

    return deret

# Invoke Function
deret_fibonacci(2, 3, 12)

[2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

## No. 3 Bundling Product

Team Campaign PT ABC akan membuat promo bundling category product (berisi 3 category setiap bundling) untuk promo 17 Agustus. PT ABC memiliki 1 jenis category dalam 1 bundling dan urutan tidak menjadi faktor pembeda (c1-c2-c3=c2-c1-c3). Tentukan ada berapa jumlah kemungkinan bundling yang bisa terbentuk?

Berikut list code category list_id_category = [c1, c2, c3, c4, c5, c6, c7, c8, c9, c10]

In [3]:
# Declare list category
list_id_category = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10']

# Declare empty list for list of product bundles
productbundle = []

# Iterate using for loop
for itemx in list_id_category:
    for itemy in list_id_category:
        for itemz in list_id_category:
            if (itemx != itemy) and (itemx != itemz) and (itemy != itemz):
                to_add = [itemx, itemy, itemz]
                # Sort to_add
                to_add = sorted(to_add)
                if to_add not in productbundle:
                    # Add to list of bundle
                    productbundle.append(to_add)
                else:
                    pass
            else:
                pass

print('Total combinations of product category is', len(productbundle))

Total combinations of product category is 120

## No. 4 String Processor
Buatlah sebuah function string_processor dengan inputan 2 parameter, yaitu suatu string 1 kata dan nama proses yang akan dilakukan. Function ini memiliki 4 proses:<br>
a. first_char: return huruf pertama dari string yang diinput<br>
b. last_char: return huruf terakhir dari string yang diinput<br>
c. num_chars: return jumlah huruf dari string yang diinput<br>
d. num_vowels: return jumlah huruf vocal dari string yang diinput<br>

In [4]:
# Create function string processor
def string_processor(mystring, proses):
    # Conditional
    if proses == 'first_char':
        return mystring[0]
    elif proses == 'last_char':
        return mystring[-1]
    elif proses == 'num_chars':
        return len(mystring)
    elif proses == 'num_vowels':
        vowels = ['a', 'i', 'u', 'e', 'o']
        return len([letter for letter in mystring if letter in vowels])
    else:
        return False

# Invoke function
mystring = 'rakamin'
proses1 = 'first_char'
proses2 = 'last_char'
proses3 = 'num_chars'
proses4 = 'num_vowels'
print('Result of function', proses1, 'for string', mystring, 'is', string_processor(mystring, proses1))
print('Result of function', proses2, 'for string', mystring, 'is', string_processor(mystring, proses2))
print('Result of function', proses3, 'for string', mystring, 'is', string_processor(mystring, proses3))
print('Result of function', proses4, 'for string', mystring, 'is', string_processor(mystring, proses4))

Result of function first_char for string rakamin is r
Result of function last_char for string rakamin is n
Result of function num_chars for string rakamin is 7
Result of function num_vowels for string rakamin is 3

## No. 5 Lambda Function Rakamin Store
Menggunakan dataset rakamin_store_city_monthly, Buatlah 1 kolom baru dengan teknik apply lambda tanpa function dengan nama kolom is_gmail dengan value True jika menggunakan gmail dan False jika selain gmail.<br>
Tentukan ada berapa user yang menggunakan email gmail pada tahun 2018.

In [5]:
# Import pandas
import pandas as pd

# Read File csv
try:
  url = 'https://raw.githubusercontent.com/anrakhma/Rakamin_Data_Science/master/Assignments/Python%20Programming/rakamin_store_city_monthly.csv?token=ASTZHOGSZSDCPEUCYPFMWZLAWIXYI'
  df = pd.read_csv(url, sep=';')
except:
  url = '/content/sample_data/rakamin_store_city_monthly.csv'
  df = pd.read_csv(url, sep=';')

# Create column is_gmail and year
df['is_gmail'] = df['email'].apply(lambda x: True if '@gmail.com' in x else False)
df['year'] = pd.DatetimeIndex(df['month']).year

# Create dataframe group by year and Gmail/Not Gmail
df_group = df.groupby(['year', 'is_gmail'])['email'].count().reset_index()

# Get total user using gmail in 2018
theyear = 2018
ind = df_group.index[(df_group['year'] == theyear) & (df_group['is_gmail'] == True)][0]
totalgmail = df_group.iloc[ind]['email']
print('Total user using gmail in', theyear, 'is', totalgmail)

Total user using gmail in 2018 is 3

## No. 6 Sales dan Profit Superstore
Menggunakan dataset superstore, Buatlah function yang bisa menghitung Jumlah Sales dan Profit pada satu tahun dan region tertentu dengan default tahun 2017. Hint: Buat kolom tahun.<br>

Tentukan total sales dan profit pada:<br>
1. South Region pada tahun 2016.<br>
2. West Region pada tahun 2017.

In [6]:
# Read file
try:
  urlstore = 'https://raw.githubusercontent.com/anrakhma/Rakamin_Data_Science/master/Assignments/Python%20Programming/superstore.xls?token=ASTZHOG6M42SIIUNLO6WTP3AWIXUE'
  dfstore = pd.read_excel(urlstore)
except:
  urlstore = '/content/sample_data/superstore.xls'
  dfstore = pd.read_excel(urlstore)

# Create new column 'OrderYear'
dfstore['Order Year'] = pd.DatetimeIndex(dfstore['Order Date']).year

# Groupby data based on year and region, get total order, and sum Sales and Profit
store_group = dfstore.groupby(['Order Year', 'Region']).agg({
    'Order ID':'count',
    'Sales':'sum',
    'Profit':'sum'
}).reset_index()

# Rename column
store_group.columns = ['Order Year', 'Region', 'Total Order', 'Total Sales', 'Total Profit']
store_group

    Order Year   Region  Total Order  Total Sales  Total Profit
0         2014  Central          466  103838.1646      539.5534
1         2014     East          517  128680.4570    17059.6095
2         2014    South          349  103845.8435    11879.1200
3         2014     West          661  147883.0330    20065.6912
4         2015  Central          476  102874.2220    11716.8020
5         2015     East          644  156332.0570    21091.0130
6         2015    South          340   71359.9805     8318.5940
7         2015     West          642  139966.2495    20492.1947
8         2016  Central          603  147429.3760    19899.1629
9         2016     East          766  180685.8220    20141.5961
10        2016    South          413   93610.2235    17702.8084
11        2016     West          805  187480.1765    24051.6069
12        2017  Central          778  147098.1282     7550.8442
13        2017     East          921  213082.9040    33230.5614
14        2017    South          518  122905.8575     8848.9079
15        2017     West         1095  250128.3655    43808.9561

In [7]:
# Get value requested
# South Region in 2016
southsales2016 = store_group.loc[store_group.index[(store_group['Region'] == 'South') & (store_group['Order Year'] == 2016)][0],'Total Sales']
southprofit2016 = store_group.loc[store_group.index[(store_group['Region'] == 'South') & (store_group['Order Year'] == 2016)][0],'Total Profit']

print('South Region in 2016: Total Sales is', round(southsales2016, 2),'and Total Profit is', round(southprofit2016,2))

# West Region in 2017
westsales2017 = store_group.loc[store_group.index[(store_group['Region'] == 'West') & (store_group['Order Year'] == 2017)][0],'Total Sales']
westprofit2017 = store_group.loc[store_group.index[(store_group['Region'] == 'West') & (store_group['Order Year'] == 2017)][0],'Total Profit']

print('West Region in 2017: Total Sales is', round(westsales2017, 2),'and Total Profit is', round(westprofit2017,2))

South Region in 2016: Total Sales is 93610.22 and Total Profit is 17702.81
West Region in 2017: Total Sales is 250128.37 and Total Profit is 43808.96

## No. 7 Segment Data
Menggunakan dataset superstore. Buatlah 3 kelompok 'segment' (high, medium, dan low) berdasarkan performance pembelian yang digunakan sebagai acuan tim bisnis untuk mengelompokkan customer superstore.<br>

Instruksi:<br>
1. Bantulah tim bisnis untuk menentukan kriteria pengelompokkan untuk 3 segmentasi customer ini, dan gunakan iterrows atau apply lambda sebagai teknik pembuatan kolom baru!<br>
2. Berikan alasan kalian dalam penentuan kriteria pengelompokkan customer yang dibuat!<br>
3. Tentukan jumlah customer pada masing-masing segment di tahun 2017!<br>
<br>
Hint: Pahami setiap row pada dataset, pastikan jumlah customer unique

In [8]:
"""
Valuable Customer dapat diukur dari:
1. Jumlah order yang dilakukan per customer
2. Total amount/sales yang dibayarkan tiap kali order

Pengukuran dilakukan untuk data per customer per tahun sehingga satu customer dengan segment High tahun lalu belum tentu High juga tahun ini. 

Menentukan justifikasi low, medium, high dengan referensi data statistik sederhana dari dataset keseluruhan (bukan per tahun):
- Batas High menggunakan percentile 66
- Batas Low menggunakan percentile 33
- Diantara keduanya adalah medium

Klasifikasi ini berlaku untuk data jumlah order dan amount sales. Jika setelah pengecekan kedua data tersebut terkategori berbeda, maka kategori yang diambil atas customer tersebut adalah kategori yang lebih tinggi (medium lebih tinggi dari low, high lebih tinggi dari medium). Misalnya dari total order statusnya Low namun total sales statusnya High, maka customer tersebut statusnya High, dst.
"""
# Read file
try:
  urlstore = 'https://raw.githubusercontent.com/anrakhma/Rakamin_Data_Science/master/Assignments/Python%20Programming/superstore.xls?token=ASTZHOG6M42SIIUNLO6WTP3AWIXUE'
  dfsuperstore = pd.read_excel(urlstore)
except:
  urlstore = '/content/sample_data/superstore.xls'
  dfsuperstore = pd.read_excel(urlstore)

# Create Column 'Order Year'
dfsuperstore['Order Year'] = pd.DatetimeIndex(dfsuperstore['Order Date']).year

# Count total order and sales per customer
dfcustomer = dfsuperstore.groupby('Customer ID').agg({
    'Row ID':'count',
    'Sales':'sum'
}).reset_index()

# Rename columns
dfcustomer.columns = ['Customer ID', 'Total Order', 'Total Sales']

# Check is customer unique based on Customer ID per year
print(dfcustomer['Customer ID'].nunique() == dfcustomer.shape[0])
print('Total data unique per customer =', dfcustomer['Customer ID'].nunique())

True
Total data unique per customer = 793

In [9]:
# Check Percentile for total order and sales per customer
dfcustomer.describe(percentiles=[.33,.66])

       Total Order   Total Sales
count   793.000000    793.000000
mean     12.602774   2896.848500
std       6.242559   2628.670117
min       1.000000      4.833000
33%       9.000000   1436.925440
50%      12.000000   2256.394000
66%      14.000000   3076.524560
max      37.000000  25043.050000

In [10]:
# Create Function for conditional logics
def segment_customer(x):
    status_order = 'High' if x['Total Order'] >= 14 else 'Medium' if x['Total Order'] >= 9 and x['Total Order'] < 14 else 'Low'
    status_sales = 'High' if x['Total Sales'] >= 3077 else 'Medium' if x['Total Sales'] >= 1437 and x['Total Sales'] < 3077 else 'Low'
    
    if status_order == 'High':
         status = 'High'
    elif status_order == 'Medium':
        if status_sales == 'High':
            status = 'High'
        elif status_sales == 'Medium':
             status = 'Medium'
        else:
             status = 'Medium'
    elif status_order == 'Low':
        if status_sales == 'High':
            status = 'High'
        elif status_sales == 'Medium':
             status = 'Medium'
        else:
             status = 'Low'

    return status

In [11]:
# Create new dataframe groupby Customer ID and Year
dfcustomeryear = dfsuperstore.groupby(['Order Year','Customer ID']).agg({
    'Row ID':'count',
    'Sales':'sum'
}).reset_index()

# Rename columns
dfcustomeryear.columns = ['Order Year', 'Customer ID', 'Total Order', 'Total Sales']
dfcustomeryear.head()

   Order Year Customer ID  Total Order  Total Sales
0        2014    AA-10315            4      756.048
1        2014    AA-10375            2       50.792
2        2014    AA-10480            1       27.460
3        2014    AA-10645            6     1434.330
4        2014    AB-10015            4      322.216

In [12]:
# Apply Function to create new column in dataset grouped by per year
dfcustomeryear['Segment'] = dfcustomeryear.apply(lambda x: segment_customer(x), axis=1)
dfcustomeryear.head()

   Order Year Customer ID  Total Order  Total Sales Segment
0        2014    AA-10315            4      756.048     Low
1        2014    AA-10375            2       50.792     Low
2        2014    AA-10480            1       27.460     Low
3        2014    AA-10645            6     1434.330     Low
4        2014    AB-10015            4      322.216     Low

In [13]:
# Show Total customer on each segment in 2017
dftotalcustomer = dfcustomeryear.groupby(['Order Year', 'Segment'])['Customer ID'].count().reset_index()
dftotalcustomer[dftotalcustomer['Order Year'] == 2017]

    Order Year Segment  Customer ID
9         2017    High           53
10        2017     Low          510
11        2017  Medium          130

END